<h2>Stories: ( {{stories.length}} )</h2>

<div class="container">
  <div class="sidebar">
    <section
      *ngFor="let story of stories"  (click)="selectStory(story)"
      [class.is-selected]="story === selectedStory">

      <app-story-item [story]="story"></app-story-item>
    </section>
  </div>

  <div class="main" *ngIf="selectedStory">
    <app-story-item [story]="selectedStory"></app-story-item>
  </div>

  <div class="main" *ngIf="!selectedStory">
    <p>Select a story on the menu</p>
  </div>
</div>
